{% extends 'users/base.html' %}     
{% block content %}
<style>
   .color_noting{
      background-color: rgb(214, 230, 253);
   }
   .color_backgraung{
      background-color: rgb(198, 198, 198);
   }
   .com_color{
      background-color: rgb(151, 255, 206);
   }
   .sub_color{
      background-color: rgb(216, 229, 255);
   }
   .posts_color{
      background-color: rgb(185, 255, 230);
   }
   .mm{
      background-color: rgb(255, 198, 252);
      transition: color 0.6s;
   }

   .mm:hover{
      color: #000000;
      background-color: #d796ff;
   }

   .mmmmm{
      color: #5e5e5e;
      background-color: #56ffd8;
   }

   .mmmmm:hover{
      color: #5e5e5e;
      background-color: #49bfff;
   }

   .button{
  color: #ffffff;
  background: scroll;
  background-color: rgb(255, 162, 0);
}
   .profile{
      color: #ffffff;
      background-color: rgb(255, 118, 44);
      
   }
   h1{
      color: #ffffff;
   }
   .notifications{
      background-color: #ffe417;
   }
   .color_1{
      background-color: #7e7e7e;
   }
   .color_2{
      color: #ffffff;
   }
   .online-icon {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    background-color: green;
}
.profile-picture-wrapper {
    background-color: #7e7e7e;
    position: relative;
    width: 150px;
    height: 150px;
}
.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}
</style>
<div class="container">
   <div class="row">
      <div class="card mb-4 box-shadow color_backgraung" style="width: 440px; display: block; right: 340px; top: 10px; margin: auto; height: 522px;">
         <div class="card mb-4 box-shadow">
            <div class="card-body profile" id="auto-resize-card">
               {% if user.profile_icon %}
                  <img src="{{ user.profile_icon.url }}" style="height: 90px; width: 90px; border-radius: 50%; object-fit: cover; float: left;">
               {% endif %}
               <a href="/users/{{ user.pk }}"><h2>Мой профиль</h2></a>
            </div>
            <div class="card-body notifications" id="auto-resize-card">
               <a href="/users/settings/"><h3>Уведомления</h3></a>
            </div>
            <div class="card-body" id="auto-resize-card">
               <a href="/friends/list"><h4>Друзья</h4></a>
               <a href="/message/inbox"><h5>Сообщения</h5></a>
               <a href="/users/settings"><p class="card-text">Настройки</p></a>
               <p class="card-text">Описание</p>
               <button type="button mm" class="btn btn-lg btn-success mb-4" onclick="window.location.href='/create/subscriptions/'">Создать подписку</button>
               <button type="button mm" class="btn btn-lg btn-danger mb-4" onclick="window.location.href='/create/post/'">Создать пост</button>
               <a href="/update/channel/{{ object.pk }}" class="btn btn-warning mb-4">Редактировать канал</a>
            </div>
        </div>
     </div>
         <div class="card mb-4 box-shadow color_1" style="width: 610px; display: block; top: 10px; height: 400px;">
               <div class="card-body" id="auto-resize-card">
                  <div class="profile" style="float: left; margin-right: 20px;">
                     <div class="profile-picture-wrapper">
                        {% if object.profile_icon %}
                           <img src="{{ object.profile_icon.url }}" class="profile-picture">
                        {% else %}
                           <img src="/static/images/default-profile.png" class="profile-picture">
                        {% endif %}
                        {% if object.is_online %}
                              <img src="/static/images/online-icon.png" class="online-icon" alt="Online">
                           {% else %}

                        {% endif %}
                     </div>
                  </div>
                  {% if user %}
                  {% if is_friend %}
                     <div style="float: right;">
                        <details><summary class="color_2">Жмяк</summary>
                           <form action="{% url 'friends:remove_friend' friend_id=object.pk %}" method="post">
                              {% csrf_token %}
                              <input type="submit" value="Удалить друга" class="btn btn-danger">
                        </details>
                     </div>
                  {% endif %}
                  {% if friend_request_sent %}
                     <div style="float: right;">
                           <details><summary class="color_2">Жмяк</summary>
                              <a href="{% url 'friends:friend_reject' friend_request_sent %}" class="btn btn-danger">Отклонить заявку</a>
                           </details>
                     </div>
                  {% endif %}
                  {% if friend_request_received %}
                     <div style="float: right;">
                        <details><summary class="color_2">Жмяк</summary>
                           <a href="/friends/friend_add/{{ friend_request_received }}" class="btn btn-success">Принять заявку</a>
                        </details>
                     </div>
                  {% endif %}
                  {% if no_friend %}
                     <div style="float: right;">
                        <details><summary class="color_2">Жмяк</summary>
                           <button id="add-friend-btn" class="btn btn-success" data-friend-id="{{ no_friend.pk }}">Добавить в друзья</button>
                        </details>
                     </div>
                  {% else %}
                  {% endif %}
                  <script>
                     document.getElementById('add-friend-btn').addEventListener('click', function(event) {
                         event.preventDefault(); // Предотвращаем стандартное поведение ссылки
                         
                         var friendId = this.getAttribute('data-friend-id');
                         var xhr = new XMLHttpRequest();
                         xhr.open('POST', '{% url "friends:add_friend" 0 %}'.replace('0', friendId), true);
                         xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                         xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                         xhr.onreadystatechange = function() {
                             if (xhr.readyState === XMLHttpRequest.DONE) {
                                 if (xhr.status === 200) {
                                     location.reload(); // Перезагружаем страницу после успешного добавления в друзья
                                 } else {
                                     alert('Произошла ошибка: ' + xhr.responseText);
                                 }
                             }
                         };
                         xhr.send(JSON.stringify({}));
                     });
                     </script>
                  {% else %}
                  {% endif %}

                  <div style="float: left;">
                     <h4 class="color_2">{{ object.nickname }}</h4>
                     <p class="color_2">{{ object.first_name }} {{ object.last_name }}</p>
                  </div><br><br><br><br>
                  <div style="overflow:auto;">
                     <div style="float: left;" class="card-body">
                         <p class="color_2">{{ object.description }}</p>
                     </div>
                 </div>
                  <div class="card-body">
                     <a href="/message/dialog/{{ object.pk }}"><h6>Написать сообщение</h6></a>
                  </div> 
                  <div style="clear: both;"></div>
               </div>
         </div> 
      </div> 
</div>
{% endblock %} 