{% extends 'users/base.html' %}     
{% block content %}
<style>
   .color_noting {
      background-color: rgb(214, 230, 253);
   }
   .color_backgraung {
      background-color: rgb(187, 136, 255);
   }
   .com_color {
      background-color: rgb(151, 255, 206);
   }
   .sub_color {
      background-color: rgb(216, 229, 255);
   }
   .posts_color {
      background-color: rgb(185, 255, 230);
   }
   .mm {
      background-color: rgb(255, 198, 252);
      transition: color 0.6s;
   }
   .mm:hover {
      color: #000000;
      background-color: #d796ff;
   }
   .mmmmm {
      color: #5e5e5e;
      background-color: #56ffd8;
   }
   .mmmmm:hover {
      color: #5e5e5e;
      background-color: #49bfff;
   }
   .button {
      color: #ffffff;
      background: scroll;
      background-color: rgb(255, 162, 0);
   }
   .profile {
      color: #ffffff;
      background-color: rgb(255, 118, 44);
   }
   h1 {
      color: #ffffff;
   }
   .notifications {
      background-color: #ffe417;
   }
   .color_1 {
      background-color: #7e7e7e;
   }
   .color_2 {
      color: #ffffff;
   }
   .online-icon {
      position: absolute;
      bottom: 20px;
      right: 10px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: rgb(34, 169, 0);
   }
   .profile, .notifications {
      padding: 20px;
      margin-bottom: 10px;
      text-align: center;
   }
   .profile {
      background: linear-gradient(135deg, #0004ff 0%, #ff0000 100%);
      color: white;
   }
   .notifications {
      background: linear-gradient(135deg, #fae484 0%, #ff00f7 100%);
      color: white;
   }
   .dropdown {
      position: relative;
      display: inline-block;
      width: 100%;
      text-align: center;
   }
   .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgb(187, 136, 255);
      min-width: 160px;
      z-index: 1;
      border-radius: 10px;
      left: 50%;
      transform: translateX(-50%);
   }
   .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: background-color 0.3s ease;
   }
   .dropdown-content a:hover {
      background-color: rgb(62, 107, 127);
   }
   .dropdown:hover .dropdown-content {
      display: block;
   }
   .dropbtn {
      background: #764ba2 100%;
      color: rgb(255, 255, 255);
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      width: 100%;
      transition: background 0.3s ease;
   }
   .card-body a, .card-body p {
      display: block;
      padding: 10px;
      margin: 5px 0;
      border-radius: 10px;
      transition: background-color 0.3s ease;
      text-align: center;
      background: #5f4ba2 100%;
      color: white;
      text-decoration: none;
   }
   .card-body a:hover, .card-body p:hover {
      background: rgb(75, 35, 128);
   }

   /* Новые стили для правой части */
   .right-section {
      background: linear-gradient(135deg, #ffeb3b 0%, #ff4081 100%);
      color: white;
      border-radius: 15px;
      padding: 20px;
      margin: 20px 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
   .right-section h4, .right-section h6, .right-section p {
      color: white;
   }
   .right-section .card-body a {
      background: #ff4081;
      color: white;
      border-radius: 5px;
      padding: 10px;
      transition: background 0.3s ease;
   }
   .right-section .card-body a:hover {
      background: #ff80ab;
   }
   .right-section .btn {
      background: #ff4081;
      color: white;
      border-radius: 5px;
      padding: 10px 20px;
      transition: background 0.3s ease;
   }
   .right-section .btn:hover {
      background: #ff80ab;
   }
   .right-section details summary {
      background: #ff4081;
      color: white;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s ease;
   }
   .right-section details summary:hover {
      background: #ff80ab;
   }
   .fixed-left {
    position: fixed;
    top: 131px;
    left: 8px;
}
</style>
<div class="container">
   <div class="row">
      <div class="card mb-4 color_backgraung fixed-left" style="width: 440px; height: 522px;">
         <div class="card mb-4 color_backgraung">
            <div class="card-body profile" id="auto-resize-card">
               {% if user.profile_icon %}
                  <img src="{{ user.profile_icon.url }}" style="height: 100px; width: 100px; border-radius: 50%; object-fit: cover; float: left;">
               {% else %}
               {% endif %}
               <a href="/users/{{user.pk}}/"><h2>Мой профиль</h2></a>
            </div>
            <div class="card-body notifications" id="auto-resize-card" style="margin-top: -10px;">
               <a href="/users/settings/"><h3>Уведомления</h3></a>
            </div>
            <div class="card-body" id="auto-resize-card">
               <a href="/friends/list"><h4>Друзья</h4></a>
               <a href="/message/inbox"><h5>Сообщения</h5></a>
               <a href="/users/settings">Настройки</a>
               <div class="dropdown">
                  <a href="/search_users/" class="dropbtn">Поиск девушек</a>
                  <div class="dropdown-content">
                     <a href="/search_night_partner/">Партнера на ночь</a>
                     <a href="/search/girls/location">По местоположению</a>
                     <a href="/search/girls/interests">По интересам</a>
                     <a href="/search/girls/new">Новые анкеты</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="card mb-4 box-shadow color_1 right-section" style="width: 700px; display: block; top: -20px; height: auto; margin-left: 480px;">
         <div style="display: flex;">
             <!-- Фотография профиля -->
             <div style="margin-right: 80px;">
                 <div class="profile-picture-wrapper" style="width: 240px; height: 380px;">
                     {% if object.profile_icon %}
                         <img src="{{ object.profile_icon.url }}" class="profile-picture" style="width: 300px; height: 400px; border-radius: 10px;">
                     {% else %}
                         <img src="/static/images/default-profile.png" class="profile-picture" style="width: 300px; height: 400px; border-radius: 10px;">
                     {% endif %}
                 </div>
             </div>
     
             <!-- Информация о пользователе -->
             <div style="display: flex; flex-direction: column; justify-content: space-between; height: 380px;">
                 {% if object.is_online %}
                     <h5 style="color: rgb(58, 58, 58);">{{ object.first_name }} {{ object.last_name }} ✔ <small style="color: rgb(19, 255, 70);">Online</small></h5>
                 {% else %}
                     <h5 style="color: rgb(58, 58, 58);">{{ object.first_name }} {{ object.last_name }} <small>✔</small> <small style="color: rgb(134, 134, 134);">Не в сети</small></h5>
                 {% endif %}
                 <div>
                     {% if object.location %}
                        <h7 style="color: rgb(0, 0, 0);">Город</h7>
                        <p style="width: 310px; overflow-y: auto; max-height: 40px;">{{ object.location }}</p>
                     {% endif %}
                     <h7 style="color: black;">День рождения</h7>
                     <p>{{ object.userprofile.date_of_birth }} ({{ object.userprofile.age }} лет)</p>
                     {% if object.description %}
                         <h7 style="color: black;">Описание</h7>
                         <div class="description" style="width: 310px; overflow-y: auto; max-height: 150px;">
                             <p>{{ object.description }}</p>
                         </div>
                     {% endif %}
                     <h7 style="color: black;">Интересы</h7>
                     <div style="overflow-y: auto; max-height: 100px;">
                         <p style="width: 290px;">
                             {% for item in interests %}
                                 {{ item.name }}{% if not forloop.last %}, {% endif %}
                             {% endfor %}
                         </p>
                     </div>
                 </div>
                 <div class="action-buttons" style="margin-top: auto;">
                 </div>
             </div>
         </div>
     
         <!-- Раздел для фотографий и альбомов -->
         <div class="album-section" style="margin-top: 35px;">
             <div>
                  <a href="/message/dialog/{{ object.pk }}" class="btn">Написать сообщение</a>
                  <div style="margin-top: 5px;">
                     {% if user %}
                              {% if is_friend %}
                                 <form action="{% url 'friends:remove_friend' friend_id=object.pk %}" method="post">
                                       {% csrf_token %}
                                    <input type="submit" value="Удалить друга" class="btn btn-danger">
                                 </form>
                              {% elif friend_request_sent %}
                                 <a href="{% url 'friends:friend_reject' friend_request_sent %}" class="btn btn-danger">Отклонить заявку</a>
                              {% elif friend_request_received %}
                                 <a href="/friends/friend_add/{{ friend_request_received }}" class="btn btn-success">Принять заявку</a>
                              {% elif no_friend %}
                                 <button id="add-friend-btn" class="btn btn-success" data-friend-id="{{ no_friend.pk }}">Добавить в друзья</button>
                              {% endif %}
                     {% endif %}
                  </div>
             </div>
             <h6 style="margin-top: 10px;">Фотографии и альбомы</h6>
             <div style="margin-top: 10px;">
                 <button id="view-photos" class="btn btn-secondary" onclick="showPhotos()">Все фотографии</button>
                 <button id="view-albums" class="btn btn-secondary" onclick="showAlbums()">Все альбомы</button>
             </div>
         </div>
     
         <!-- Галерея фотографий и альбомов -->
         <div style="margin-top: 35px;">
             <div id="photo-gallery" style="display: block; margin-top: 10px;">
                  <div class="photo-item" style="display: inline-block; margin: 5px;">
                     <img src="" alt="Фото 1" style="width: 100px; height: 100px; border-radius: 5px;">
                  </div>
             </div>
             
             <div id="album-gallery" style="display: none; margin-top: 10px;">
                 <div class="album-item" style="margin: 5px;">
                     <img src="" alt="Обложка Альбома 1" style="width: 100px; height: 100px; border-radius: 5px;">
                 </div>
             </div>
         </div>
     </div>
   </div>
</div>
<script>
   // Функция для отображения фотографий
   function showPhotos() {
       document.getElementById('photo-gallery').style.display = 'block';
       document.getElementById('album-gallery').style.display = 'none';
       document.getElementById('view-photos').classList.add('active');
       document.getElementById('view-albums').classList.remove('active');
   }

   // Функция для отображения альбомов
   function showAlbums() {
       document.getElementById('photo-gallery').style.display = 'none';
       document.getElementById('album-gallery').style.display = 'block';
       document.getElementById('view-albums').classList.add('active');
       document.getElementById('view-photos').classList.remove('active');
   }

   // Обработчик для добавления в друзья
   document.getElementById('add-friend-btn').addEventListener('click', function(event) {
       event.preventDefault(); // Предотвращаем стандартное поведение ссылки

       var friendId = this.getAttribute('data-friend-id');
       var xhr = new XMLHttpRequest();
       xhr.open('POST', '{% url "friends:add_friend" 0 %}'.replace('0', friendId), true);
       xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
       xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
       xhr.onreadystatechange = function() {
           if (xhr.readyState === XMLHttpRequest.DONE) {
               if (xhr.status === 200) {
                   location.reload(); // Перезагружаем страницу после успешного добавления в друзья
               } else {
                   alert('Произошла ошибка: ' + xhr.responseText);
               }
           }
       };
       xhr.send(JSON.stringify({}));
   });
</script>
{% endblock %}