{% extends 'users/base.html' %}

{% block content %}
<style>
  :root {
    --sidebar-width: 300px; /* Фиксированная ширина левой панели */
  }

  .color_backgraung {
    background-color: rgb(187, 136, 255);
  }

  .profile,
  .notifications {
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
  }

  .profile {
    background: linear-gradient(135deg, #0004ff 0%, #ff0000 100%);
    color: white;
  }

  .notifications {
    background: linear-gradient(135deg, #fae484 0%, #ff00f7 100%);
    color: white;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(187, 136, 255);
    min-width: 160px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
  }

  .dropdown-content a:hover {
    background-color: rgb(62, 107, 127);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn {
    background: #764ba2;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease;
  }

  .card-body a,
  .card-body p {
    display: block;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
    background: #5f4ba2;
    color: white;
    text-decoration: none;
  }

  .card-body a:hover,
  .card-body p:hover {
    background: rgb(75, 35, 128);
  }

  .profile-picture-wrapper {
    background-color: #7e7e7e;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
  }

  .status-icon {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 15px;
    height: 15px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid white;
  }

  /* Новые стили для фиксированной левой панели */
  .fixed-sidebar {
    position: fixed;
    top: 10px;
    left: 20px;
    width: var(--sidebar-width);
  }

  .content {
    margin-left: calc(var(--sidebar-width) + 150px); /* Оставляем место для левой панели */
  }

  .friend {
    background-color: #ffffff;
  }

  /* Стили для скрытого фильтра */
  .filter-container {
    display: none; /* Изначально скрыто */
    margin-top: 20px;
  }

  .show {
    display: block; /* Показываем фильтр */
  }
  .background_color{
    background-color: #ebebeb;
  }
</style>

<div class="container">
  <div class="fixed-sidebar">
    <!-- Left Profile Card -->
    <div class="card mb-4 color_backgraung" style="height: 300px; width: 440px; top: 121px; right: 11.5px;">
      <div class="card mb-4 color_backgraung">
        <div class="card-body profile" id="auto-resize-card">
          {% if user.profile_icon %}
          <img src="{{ user.profile_icon.url }}" style="height: 100px; width: 100px; border-radius: 50%; object-fit: cover; float: left;">
          {% endif %}
          <a href="/users/{{user.pk}}/"><h2>Мой профиль</h2></a>
        </div>
        <div class="card-body notifications" id="auto-resize-card" style="margin-top: -10px;">
          <a href="/users/settings/"><h3>Уведомления</h3></a>
        </div>
        <div class="card-body" id="auto-resize-card">
          <a href="/friends/list"><h4>Друзья</h4></a>
          <a href="/message/inbox"><h5>Сообщения</h5></a>
          <a href="/users/settings">Настройки</a>
          <div class="dropdown">
            <a href="/search_users/" class="dropbtn">Поиск девушек</a>
            <div class="dropdown-content">
              <a href="/search_night_partner/">Партнера на ночь</a>
              <a href="/search/girls/location">По местоположению</a>
              <a href="/search/girls/interests">По интересам</a>
              <a href="/search/girls/new">Новые анкеты</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <!-- Main Content -->
    <div class="card mb-4 box-shadow color_1" style="width: 100%; padding: 20px;">
      <h3>Найти друзей</h3>
      <form method="GET" action="">
        <div class="form-group">
          <label for="q">Имя, фамилия или Отчество:</label>
          <input type="text" id="q" name="q" class="form-control" placeholder="Введите Имя, фамилия или Отчество" value="{{ query|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-success">Поиск</button>
        <button type="button" class="btn btn-primary" id="filterButton">Фильтр</button>

        <div class="filter-container" id="filterContainer">
          <div class="form-group">
            <label for="gender">Пол:</label>
            <select id="gender" name="gender" class="form-control">
              <option value="">Не важно</option>
              <option value="male" {% if request.GET.gender == "male" %}selected{% endif %}>Мужской</option>
              <option value="female" {% if request.GET.gender == "female" %}selected{% endif %}>Женский</option>
              <option value="gay" {% if user.userprofile.gender == 'gay' %}selected{% endif %}>Гомосексуальный мужчина</option>
              <option value="Lesbian" {% if user.userprofile.gender == 'Lesbian' %}selected{% endif %}>Гомосексуальная женщина</option>
              <option value="other" {% if request.GET.gender == "other" %}selected{% endif %}>Другой</option>
            </select>
          </div>
          <div class="form-group">
            <label for="age_from">Возраст от:</label>
            <input class="form-control" type="number" name="age_from" min="0" value="{{ request.GET.age_from }}">
            <br>
            <label for="age_to">Возраст до:</label>
            <input class="form-control" type="number" name="age_to" min="0" value="{{ request.GET.age_to }}">
          </div>
          <div class="form-group">
            <label>Статус:</label><br>
            <input type="radio" id="online" name="is_online" value="true" {% if request.GET.is_online == 'true' %}checked{% endif %}>
            <label for="online">Онлайн</label><br>
            <input type="radio" id="offline" name="is_online" value="false" {% if request.GET.is_online == 'false' %}checked{% endif %}>
            <label for="offline">Оффлайн</label>
         </div>
          <div class="form-group">
            <label for="interests">Интересы:</label>
            <select class="form-control" id="interests" name="interests" multiple style="height: 250px;">
              <option value="Football" {% if user.userprofile.interests  == 'Football' %}selected{% endif %}>Футбол</option>
                    <option value="Basketball" {% if user.userprofile.interests  == 'Basketball' %}selected{% endif %}>Баскетбол</option>
                    <option value="Run" {% if user.userprofile.interests  == 'Run' %}selected{% endif %}>Бег</option>
                    <option value="Swimming" {% if user.userprofile.interests  == 'Swimming' %}selected{% endif %}>Плавание</option>
                    <option value="Cycling" {% if user.userprofile.interests  == 'Cycling' %}selected{% endif %}>Велоспорт</option>
                    <option value="Mountaineering" {% if user.userprofile.interests  == 'Mountaineering' %}selected{% endif %}>Альпинизм</option>
                    <option value="Surfing" {% if user.userprofile.interests  == 'Surfing' %}selected{% endif %}>Серфинг</option>
                    <option value="Skiing/snowboarding" {% if user.userprofile.interests  == 'Skiing/snowboarding' %}selected{% endif %}>Катание на лыжах/сноуборде</option>
                    <option value="Dancing" {% if user.userprofile.interests  == 'Dancing' %}selected{% endif %}>Танцы</option>
                    <option value="Yoga" {% if user.userprofile.interests  == 'Yoga' %}selected{% endif %}>Йога</option>
    
                    <option value="Reading" {% if user.userprofile.interests  == 'Reading' %}selected{% endif %}>Чтение</option>
                    <option value="Writing" {% if user.userprofile.interests  == 'Writing' %}selected{% endif %}>Писательство</option>
                    <option value="Photo" {% if user.userprofile.interests  == 'Photo' %}selected{% endif %}>Фотография</option>
                    <option value="Drawing/Painting" {% if user.userprofile.interests  == 'Drawing/Painting' %}selected{% endif %}>Рисование/Живопись</option>
                    <option value="Music" {% if user.userprofile.interests  == 'Music' %}selected{% endif %}>Музыка (игра на инструментах, пение)</option>
                    <option value="Video_games" {% if user.userprofile.interests  == 'Video_games' %}selected{% endif %}>Видеоигры</option>
                    <option value="Board_games" {% if user.userprofile.interests  == 'Board_games' %}selected{% endif %}>Настольные игры</option>
                    <option value="Collecting" {% if user.userprofile.interests  == 'Collecting' %}selected{% endif %}>Коллекционирование (монеты, марки и т.д.)</option>
                    <option value="Gardening" {% if user.userprofile.interests  == 'Gardening' %}selected{% endif %}>Садоводство</option>
                    <option value="Cooking/Baking" {% if user.userprofile.interests  == 'Cooking/Baking' %}selected{% endif %}>Кулинария/Выпечка</option>
    
                    <option value="movies" {% if user.userprofile.interests  == 'movies' %}selected{% endif %}>Кино</option>
                    <option value="theater" {% if user.userprofile.interests  == 'theater' %}selected{% endif %}>Театр</option>
                    <option value="opera" {% if user.userprofile.interests  == 'opera' %}selected{% endif %}>Опера</option>
                    <option value="ballet" {% if user.userprofile.interests  == 'ballet' %}selected{% endif %}>Балет</option>
                    <option value="contemporary_art" {% if user.userprofile.interests  == 'contemporary_art' %}selected{% endif %}>Современное искусство</option>
                    <option value="literature" {% if user.userprofile.interests  == 'literature' %}selected{% endif %}>Литература</option>
                    <option value="poetry" {% if user.userprofile.interests  == 'poetry' %}selected{% endif %}>Поэзия</option>
                    <option value="sculpture" {% if user.userprofile.interests  == 'sculpture' %}selected{% endif %}>Скульптура</option>
    
                    <option value="astronomy" {% if user.userprofile.interests  == 'astronomy' %}selected{% endif %}>Астрономия</option>
                    <option value="biology" {% if user.userprofile.interests  == 'biology' %}selected{% endif %}>Биология</option>
                    <option value="chemistry" {% if user.userprofile.interests  == 'chemistry' %}selected{% endif %}>Химия</option>
                    <option value="physics" {% if user.userprofile.interests  == 'physics' %}selected{% endif %}>Физика</option>
                    <option value="history" {% if user.userprofile.interests  == 'history' %}selected{% endif %}>История</option>
                    <option value="archaeology" {% if user.userprofile.interests  == 'archaeology' %}selected{% endif %}>Археология</option>
                    <option value="psychology" {% if user.userprofile.interests  == 'psychology' %}selected{% endif %}>Психология</option>
                    <option value="sociology" {% if user.userprofile.interests  == 'sociology' %}selected{% endif %}>Социология</option>
                    <option value="philosophy" {% if user.userprofile.interests  == 'philosophy' %}selected{% endif %}>Философия</option>
                    <option value="politics" {% if user.userprofile.interests  == 'politics' %}selected{% endif %}>Политика</option>
    
                    <option value="europe_travel" {% if user.userprofile.interests  == 'europe_travel' %}selected{% endif %}>Путешествия по Европе</option>
                    <option value="asia_travel" {% if user.userprofile.interests  == 'asia_travel' %}selected{% endif %}>Путешествия по Азии</option>
                    <option value="africa_expeditions" {% if user.userprofile.interests  == 'africa_expeditions' %}selected{% endif %}>Экспедиции в Африку</option>
                    <option value="cruises" {% if user.userprofile.interests  == 'cruises' %}selected{% endif %}>Круизы</option>
                    <option value="hiking" {% if user.userprofile.interests  == 'hiking' %}selected{% endif %}>Походы</option>
                    <option value="road_trips" {% if user.userprofile.interests  == 'road_trips' %}selected{% endif %}>Автопутешествия</option>
    
                    <option value="vegetarian_vegan" {% if user.userprofile.interests  == 'vegetarian_vegan' %}selected{% endif %}>Вегетарианство/Веганство</option>
                    <option value="healthy_eating" {% if user.userprofile.interests  == 'healthy_eating' %}selected{% endif %}>Здоровое питание</option>
                    <option value="meditation" {% if user.userprofile.interests  == 'meditation' %}selected{% endif %}>Медитация</option>
                    <option value="eco_activism" {% if user.userprofile.interests  == 'eco_activism' %}selected{% endif %}>Эко-активизм</option>
                    <option value="fitness" {% if user.userprofile.interests  == 'fitness' %}selected{% endif %}>Спортивные тренировки</option>
    
                    <option value="programming" {% if user.userprofile.interests  == 'programming' %}selected{% endif %}>Программирование</option>
                    <option value="robotics" {% if user.userprofile.interests  == 'robotics' %}selected{% endif %}>Робототехника</option>
                    <option value="gadgets" {% if user.userprofile.interests  == 'gadgets' %}selected{% endif %}>Смартфоны и гаджеты</option>
                    <option value="virtual_reality" {% if user.userprofile.interests  == 'virtual_reality' %}selected{% endif %}>Виртуальная реальность</option>
                    <option value="ai" {% if user.userprofile.interests  == 'ai' %}selected{% endif %}>Искусственный интеллект</option>
    
                    <option value="volunteering" {% if user.userprofile.interests  == 'volunteering' %}selected{% endif %}>Волонтерство</option>
                    <option value="animal_protection" {% if user.userprofile.interests  == 'animal_protection' %}selected{% endif %}>Защита животных</option>
                    <option value="social_projects" {% if user.userprofile.interests  == 'social_projects' %}selected{% endif %}>Социальные проекты</option>
                    <option value="charity" {% if user.userprofile.interests  == 'charity' %}selected{% endif %}>Благотворительность</option>
    
                    <option value="astrology" {% if user.userprofile.interests  == 'astrology' %}selected{% endif %}>Астрология</option>
                    <option value="magic_illusions" {% if user.userprofile.interests  == 'magic_illusions' %}selected{% endif %}>Магия/Иллюзии</option>
                    <option value="vlogging" {% if user.userprofile.interests  == 'vlogging' %}selected{% endif %}>Видеоблоги/Влогинг</option>
                    <option value="comics_manga" {% if user.userprofile.interests  == 'comics_manga' %}selected{% endif %}>Комиксы и манга</option>
                    <option value="fashion" {% if user.userprofile.interests  == 'fashion' %}selected{% endif %}>Мода</option>
    
                    <option value="wine_tasting" {% if user.userprofile.interests  == 'wine_tasting' %}selected{% endif %}>Дегустация вин</option>
                    <option value="brewing" {% if user.userprofile.interests  == 'brewing' %}selected{% endif %}>Пивоварение</option>
                    <option value="mixology" {% if user.userprofile.interests  == 'mixology' %}selected{% endif %}>Миксология (создание коктейлей)</option>
                    <option value="world_cuisine" {% if user.userprofile.interests  == 'world_cuisine' %}selected{% endif %}>Мировая кухня (итальянская, японская, индийская и т.д.)</option>
                    <option value="cheesemaking" {% if user.userprofile.interests  == 'cheesemaking' %}selected{% endif %}>Сыроварение</option>
    
                    <option value="knitting" {% if user.userprofile.interests  == 'knitting' %}selected{% endif %}>Вязание</option>
                    <option value="sewing" {% if user.userprofile.interests  == 'sewing' %}selected{% endif %}>Шитье</option>
                    <option value="quilling" {% if user.userprofile.interests  == 'quilling' %}selected{% endif %}>Квиллинг</option>
                    <option value="decoupage" {% if user.userprofile.interests  == 'decoupage' %}selected{% endif %}>Декупаж</option>
                    <option value="candle_making" {% if user.userprofile.interests  == 'candle_making' %}selected{% endif %}>Изготовление свечей</option>
                    <option value="jewelry_making" {% if user.userprofile.interests  == 'jewelry_making' %}selected{% endif %}>Ювелирное дело</option>
    
                    <option value="exotic_pets" {% if user.userprofile.interests  == 'exotic_pets' %}selected{% endif %}>Содержание экзотических животных</option>
                    <option value="bird_keeping" {% if user.userprofile.interests  == 'bird_keeping' %}selected{% endif %}>Птицеводство</option>
                    <option value="fishing" {% if user.userprofile.interests  == 'fishing' %}selected{% endif %}>Рыболовство</option>
                    <option value="floriculture" {% if user.userprofile.interests  == 'floriculture' %}selected{% endif %}>Цветоводство</option>
    
                    <option value="motorsport" {% if user.userprofile.interests  == 'motorsport' %}selected{% endif %}>Автоспорт</option>
                    <option value="car_tuning" {% if user.userprofile.interests  == 'car_tuning' %}selected{% endif %}>Тюнинг автомобилей</option>
                    <option value="classic_cars" {% if user.userprofile.interests  == 'classic_cars' %}selected{% endif %}>Классические автомобили</option>
                    <option value="motorcycles" {% if user.userprofile.interests  == 'motorcycles' %}selected{% endif %}>Мотоциклы и байкерская культура</option>
                    <option value="karting" {% if user.userprofile.interests  == 'karting' %}selected{% endif %}>Картинг</option>
    
                    <option value="other" {% if user.userprofile.interests  == 'other' %}selected{% endif %}>Другое</option>
            </select>
          </div>
          <a href="/search_friends/">Очистить</a>
        </div>
      </form>
    </div>
    <div class="form-group background_color">
      {% if results %}
        <hr>
          {% for user in results %}
            <div style="float: left; margin-right: 20px;">
              <div class="profile-picture-wrapper">
                {% if user.profile_icon %}
                  <a href="/users/{{ user.pk }}/"><img src="{{ user.profile_icon.url }}" class="profile-picture"></a>
                {% else %}
                  <a href="/users/{{ user.pk }}/"><img src="/static/images/default-profile.png" class="profile-picture"></a>
                {% endif %}
                {% if user.is_online %}
                  <div class="status-icon"></div>
                {% endif %}
              </div>
            </div>
            <div style="float: left;">
              <a href="/users/{{ user.pk }}/">{{ user.first_name }} {{ user.last_name }}</a><br>
              <a style="color: black;" href="">1 общий друг</a>
              <a href="/message/dialog/{{ user.pk }}"><h6>Написать сообщение</h6></a>
            </div>
            <div style="float: right;">
              {% csrf_token %}
                
              {% if user in friends %}
                  <!-- Если он друг -->
                <a type="submit" class="btn btn-danger" href="/friends/remove/{{ user.pk }}/">Удалить друга</a>
      
              {% elif user in pending_requests %}
                  <!-- Если пользователь отправил вам заявку в друзья -->
                <a type="submit" class="btn btn-success" href="/friends/friend_add/{{ user.pk }}/">Принять заявку</a>
      
              {% elif user in pending_requests_reverse %}
                  <!-- Если вы отправили пользователю заявку в друзья -->
                <a type="submit" class="btn btn-warning" href="/friends/friend_reject/{{ user.pk }}/">Отклонить заявку</a>
                
              {% else %}
                  <!-- Если не друг и нет заявок -->
                <button id="add-friend-btn" class="btn btn-primary" data-friend-id="{{ user.pk }}">Добавить в друзья</button>
              {% endif %} 
            </div>
            <div style="clear: both;"></div>
            <hr>
          {% endfor %}
      {% else %}
        <p>Пользователи не найдены. Попробуйте поменять фильтры</p>
      {% endif %}
    </div>
  </div>
</div>

<script>
  document.getElementById('filterButton').addEventListener('click', function() {
    const filterContainer = document.getElementById('filterContainer');
    filterContainer.classList.toggle('show');
  });

  document.getElementById('add-friend-btn').addEventListener('click', function(event) {
    event.preventDefault(); // Предотвращаем стандартное поведение ссылки
                      
    var friendId = this.getAttribute('data-friend-id');
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{% url "friends:add_friend" 0 %}'.replace('0', friendId), true);
    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
    xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                location.reload(); // Перезагружаем страницу после успешного добавления в друзья
            } else {
                alert('Произошла ошибка: ' + xhr.responseText);
            }
        }
    };
    xhr.send(JSON.stringify({}));
  });
</script>
{% endblock %}