{% extends 'users/base.html' %}     
{% block content %}
<style>
   .color_noting{
      background-color: rgb(214, 230, 253);
   }
   .color_backgraung{
      background-color: rgb(198, 198, 198);
   }
   .com_color{
      background-color: rgb(151, 255, 206);
   }
   .sub_color{
      background-color: rgb(216, 229, 255);
   }
   .posts_color{
      background-color: rgb(185, 255, 230);
   }
   .mm{
      background-color: rgb(255, 198, 252);
      transition: color 0.6s;
   }

   .mm:hover{
      color: #000000;
      background-color: #d796ff;
   }

   .mmmmm{
      color: #5e5e5e;
      background-color: #56ffd8;
   }

   .mmmmm:hover{
      color: #5e5e5e;
      background-color: #49bfff;
   }

   .button{
  color: #ffffff;
  background: scroll;
  background-color: rgb(255, 162, 0);
}
   .profile{
      color: #ffffff;
      background-color: rgb(255, 118, 44);
      
   }
   h1{
      color: #ffffff;
   }
   .notifications{
      background-color: #ffe417;
   }
   .color_1{
      background-color: #7e7e7e;
   }
   .color_2{
      color: #ffffff;
   }
   .panel{
      background-color: #b0b0b0;
   }
   .color_3 {
   color: #f6f6f6;
   background-color: #595959;
   border-radius: 9px;
   }
   .color_3:hover {
   background-color: #c7c7c7; /* Цвет фона при наведении */
   }    
</style>
<div class="container">
   <div class="row">
      <div class="card mb-4 box-shadow color_backgraung" style="width: 440px; display: block; right: 340px; top: 10px; margin: auto; height: 512px;">
         <div class="card mb-4 box-shadow">
            <div class="card-body profile" id="auto-resize-card">
               {% if user_request.profile_icon %}
                  <img src="{{ user_request.profile_icon.url }}" style="height: 90px; width: 90px; border-radius: 50%; object-fit: cover; float: left;">
               {% endif %}
               <a href="/users/{{ user_request.pk }}"><h2>Мой профиль</h2></a>
            </div>
            <div class="card-body notifications" id="auto-resize-card">
               <a href="/users/settings/"><h3>Уведомления</h3></a>
            </div>
            <div class="card-body" id="auto-resize-card">
               <a href="/friends/list"><h4>Друзья</h4></a>
               <a href="/friends/list"><h5>Сообщения</h5></a>
               <a href="/users/settings"><p class="card-text">Настройки</p></a>
               <p class="card-text">Описание: {{ object.description }}</p>
               <p class="card-text">Описание: {{ object.description }}</p>
               <button type="button mm" class="btn btn-lg btn-success mb-4" onclick="window.location.href='/create/subscriptions/'">Создать подписку</button>
               <button type="button mm" class="btn btn-lg btn-danger mb-4" onclick="window.location.href='/create/post/'">Создать пост</button>
               <a href="/update/channel/{{ object.pk }}" class="btn btn-warning mb-4">Редактировать канал</a>
            </div>
        </div>
     </div>
         <div class="card mb-4 box-shadow color_1" style="width: 610px; display: block; top: 10px; height: 400px;">
            <div class="card-body panel" id="auto-resize-card">
               <div style="float: left; margin-right: 20px;">
                  <a href="/friends/list" class="color_2">Все друзья {{ friends_count }}</a>
               </div>
               <div style="float: left; margin-right: 20px;">
                  <a href="/friends/friend_request" class="color_2">Заявки в друзья {{ friends_request_count }}</a>
               </div>
               <div style="float: left;">
                  <a href="" class="color_3">Исходящие {{ friends_outgoing_count }}</a>
               </div>
               <div style="float: right;">
                  <a href="" class="color_2">Найти друзей</a>
               </div>
               <div style="clear: both;"></div>
            </div>
            {% if friends_outgoing %}
               {% for friend in friends_outgoing %}
               <div class="card-body" id="auto-resize-card">
                  <div style="float: left; margin-right: 20px;">
                     {% if friend.friend.profile_icon %}
                        <img src="{{ friend.friend.profile_icon.url }}" style="width: 70px; height: 70px; border-radius: 40%; object-fit: cover;">
                     {% endif %}
                  </div>
                  <div style="float: left;">
                     <a href="/users/{{ friend.friend.pk }}/"><p class="card-text color_2">{{ friend.friend.first_name }} {{ friend.friend.last_name }}</p></a>
                     <a href="#"><h6>Написать сообщение</h6></a>
                  </div>
                  <div style="float: right;">
                     <details><summary class="color_2">Жмяк</summary>
                        <a href="/friends/friend_reject/{{friend.friend.pk }}" class="btn btn-danger">Отклонить заявку</a>
                      </details>
                  </div>
                  <div style="clear: both;"></div>
               </div>
            {% endfor %}
            <hr>  
         </div>
 {% else %}
     <h3>Вы не кому не отправляли заявки</h3>
 {% endif %}
   </div>   
</div>
{% endblock %} 