{% extends 'users/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<style>
  /* Основные стили */
  .color_noting { background-color: rgb(214, 230, 253); }
  .color_backgraung { background-color: rgb(198, 198, 198); }
  .com_color { background-color: rgb(151, 255, 206); }
  .sub_color { background-color: rgb(216, 229, 255); }
  .posts_color { background-color: rgb(185, 255, 230); }
  .mm { background-color: rgb(255, 198, 252); transition: color 0.6s; }
  .mm:hover { color: #000000; background-color: #d796ff; }
  .mmmmm { color: #5e5e5e; background-color: #56ffd8; }
  .mmmmm:hover { color: #5e5e5e; background-color: #49bfff; }
  .button { color: #ffffff; background: scroll; background-color: rgb(255, 162, 0); }
  .profile { color: #ffffff; background-color: rgb(255, 118, 44); }
  h1 { color: #ffffff; }
  .notifications { background-color: #ffe417; }
  .color_3 { background-color: #9fc5c8; }
  .color_dialog { background-color: #ababab; }

  /* Стили для окна чата */
  .chat-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  .messages-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    position: relative; /* Это нужно для позиционирования иконок */
  }
  .message-sent {
    background-color: #e6ffe6;
    justify-content: flex-end;
    text-align: right;
  }
  .message-received {
    background-color: #f2f2f2;
    justify-content: flex-start;
    text-align: left;
  }
  .message img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .message .message-content {
    max-width: 80%;
    word-wrap: break-word;
    position: relative;
  }
  .form-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Используем space-between для равномерного распределения */
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
  }
  .form-container form {
    display: flex;
    width: 100%;
    max-width: 600px;
  }
  .form-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  .form-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  .form-container button:hover {
    background-color: #45a049;
  }

  /* Стили для иконок редактирования и удаления */
  .icon-container {
    position: absolute;
    bottom: -5px; /* Отступ от нижнего края сообщения */
    right: 5px; /* Отступ от правого края сообщения */
    display: none; /* Иконки скрыты по умолчанию */
    gap: 5px; /* Расстояние между иконками */
  }
  .icon-container button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
  }
  .icon-container button:hover {
    color: #000;
  }
  .message:hover .icon-container {
    display: flex; /* Показываем иконки при наведении на сообщение */
  }
  .panel{
    background-color: #ffffff ;
    height: 60px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="card mb-4 box-shadow color_backgraung" style="width: 440px; display: block; right: 360px; top: 10px; margin: auto; height: 522px;">
      <div class="card mb-4 box-shadow">
        <div class="card-body profile" id="auto-resize-card">
          {% if user.profile_icon %}
            <img src="{{ user.profile_icon.url }}" style="height: 90px; width: 90px; border-radius: 50%; object-fit: cover; float: left;">
            {% else %}
              <img src="/static/images/default-profile.png" style="height: 90px; width: 90px; border-radius: 50%; object-fit: cover; float: left;"> 
          {% endif %}
          <a href="/users/{{ user.pk }}/"><h2>Мой профиль</h2></a>
        </div>
        <div class="card-body notifications" id="auto-resize-card">
          <a href="/users/settings/"><h3>Уведомления</h3></a>
        </div>
        <div class="card-body" id="auto-resize-card">
          <a href="/friends/list"><h4>Друзья</h4></a>
          <a href="/message/inbox"><h5>Сообщения</h5></a>
          <a href="/users/settings"><p class="card-text">Настройки</p></a>
          <p class="card-text">Описание: {{ object.description }}</p>
          <button type="button" class="btn btn-lg btn-success mb-4" onclick="window.location.href='/create/subscriptions/'">Создать подписку</button>
          <button type="button" class="btn btn-lg btn-danger mb-4" onclick="window.location.href='/create/post/'">Создать пост</button>
          <a href="/update/channel/{{ object.pk }}" class="btn btn-warning mb-4">Редактировать канал</a>
        </div>
      </div>
    </div>
    <div class="card mb-4 box-shadow color_3" style="width: 440px; display: block; right: 460px; top: 10px; margin: auto; height: 502px;">
      <div class="chat-container">
          <div class="panel">
            <div style="float: left; margin-right: 100px;">
              <a href="/message/inbox/">&larr; Назад</a>
            </div>
            <div style="float: left;">
              <a href="/users/{{ other_user.pk }}" class="color_2">{{ other_user.first_name }} {{ other_user.last_name }}</a><br>
              {% if other_user.is_online %}
                <small>online</small>
                {% else %}
                  <small>Был в сети {{ other_user.last_activity }}</small>
              {% endif %}
            </div>
            <div style="float: right;">
              {% if other_user.profile_icon %}
                <a href="/users/{{ other_user.pk }}"><img src="{{ other_user.profile_icon.url }}" style="height: 42px; width: 42px; border-radius: 50%; object-fit: cover;"></a>
              {% else %}
                <img src="/static/images/default-profile.png" alt="Default Profile" style="height: 42px; width: 42px; border-radius: 50%; object-fit: cover;">
              {% endif %}
            </div>
            <div style="clear: both;"><hr></div>
          </div>
        <div class="messages-container" id="messages">
          {% if messages %}
            {% for message in messages %}
              <div class="message {% if message.sender == request.user %}message-sent{% else %}message-received{% endif %}" id="message-{{ message.id }}">
                {% if message.sender.profile_icon %}
                  <img src="{{ message.sender.profile_icon.url }}" alt="{{ message.sender.first_name }}">
                {% else %}
                  <img src="/static/images/default-profile.png" alt="Default Profile">
                {% endif %}
                <div class="message-content">
                  <a href="/users/{{ message.sender.pk }}">{{ message.sender.first_name }}</a> <small>{{ message.timestamp }}</small>
                  <p id="message-text-{{ message.id }}">{{ message.content }}</p>
                  {% if not message.is_read and message.receiver == request.user %}
                    <p><em>Unread</em></p>
                  {% endif %}
                  {% if message.sender == request.user %}
                    <div class="icon-container">
                      <!-- Иконка редактирования -->
                      <button type="button" onclick="editMessage('{{ message.id|escapejs }}')">✏️</button>
                      <!-- Иконка удаления -->
                      <a href="/message/delete_message/{{ message.pk }}/" onclick="return confirm('Вы уверены, что хотите удалить это сообщение?');">
                        🗑️
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          {% else %}
            <h5>У вас нет переписки с этим пользователем</h5>
            <p>Можете написать ему что-то.</p>
          {% endif %}
        </div>
        <div class="form-container">
          <form method="post" id="message-form">
            {% csrf_token %}
            <input type="hidden" name="message_id" id="message-id">
            <input type="text" name="content" id="message-content" placeholder="Введите сообщение" required>
            <button type="submit" id="submit-btn">Отправить</button>
            <button type="button" id="update-btn" style="display: none;" onclick="updateMessage()">Обновить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const messagesContainer = document.getElementById('messages');
    messagesContainer.scrollTop = messagesContainer.scrollHeight;
  });
  // Функция для предотвращения отправки формы по нажатию Enter
  document.getElementById('message-content').addEventListener('keydown', function(event) {
    if (event.keyCode === 13) {
      event.preventDefault(); // Предотвращаем стандартное действие браузера
      return false; // Прерываем выполнение функции
    }
  });

  // Функция для редактирования сообщения
  function editMessage(messageId) {
    const messageText = document.querySelector(`#message-text-${messageId}`).innerText.trim();
    const messageContentInput = document.getElementById('message-content');
    const messageIdInput = document.getElementById('message-id');
    const submitBtn = document.getElementById('submit-btn');
    const updateBtn = document.getElementById('update-btn');

    // Заполнение формы редактирования
    messageContentInput.value = messageText;
    messageIdInput.value = messageId;
    submitBtn.style.display = 'none';
    updateBtn.style.display = 'inline-block';

    // Прокрутка до формы сообщения
    messageContentInput.focus();
  }

  // Функция для обновления сообщения
  function updateMessage() {
    const messageForm = document.getElementById('message-form');
    messageForm.action = `/message/edit_message/${document.getElementById('message-id').value}/`; // Используем маршрут для редактирования сообщения
    messageForm.submit();
  }
</script>

{% endif %}
{% endblock %}