{% extends 'users/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<style>
   .color_noting{
      background-color: rgb(214, 230, 253);
   }
   .color_backgraung{
      background-color: rgb(198, 198, 198);
   }
   .com_color{
      background-color: rgb(151, 255, 206);
   }
   .sub_color{
      background-color: rgb(216, 229, 255);
   }
   .posts_color{
      background-color: rgb(185, 255, 230);
   }
   .mm{
      background-color: rgb(255, 198, 252);
      transition: color 0.6s;
   }

   .mm:hover{
      color: #000000;
      background-color: #d796ff;
   }

   .mmmmm{
      color: #5e5e5e;
      background-color: #56ffd8;
   }

   .mmmmm:hover{
      color: #5e5e5e;
      background-color: #49bfff;
   }

   .button{
  color: #ffffff;
  background: scroll;
  background-color: rgb(255, 162, 0);
}
   .profile{
      color: #ffffff;
      background-color: rgb(255, 118, 44);
      
   }
   h1{
      color: #ffffff;
  }
   .notifications{
      background-color: #ffe417;
  }
   .color_3{
    background-color: #9fc5c8;
  }
  .color_dialog{
    background-color: #ababab;
  }
</style>  
<div class="container">
   <div class="row">
      <div class="card mb-4 box-shadow color_backgraung" style="width: 440px; display: block; right: 360px; top: 10px; margin: auto; height: 512px;">
         <div class="card mb-4 box-shadow">
            <div class="card-body profile" id="auto-resize-card">
               {% if user.profile_icon %}
                  <img src="{{ user.profile_icon.url }}" style="height: 90px; width: 90px; border-radius: 50%; object-fit: cover; float: left;">
               {% endif %}
               <a href="/users/{{user.pk}}/"><h2>Мой профиль</h2></a>
            </div>
            <div class="card-body notifications" id="auto-resize-card">
               <a href="/users/settings/"><h3>Уведомления</h3></a>
            </div>
            <div class="card-body" id="auto-resize-card">
               <a href="/friends/list"><h4>Друзья</h4></a>
               <a href="/message/inbox"><h5>Сообщения</h5></a>
               <a href="/users/settings"><p class="card-text">Настройки</p></a>
               <p class="card-text">Описание: {{ object.description }}</p>
               <button type="button mm" class="btn btn-lg btn-success mb-4" onclick="window.location.href='/create/subscriptions/'">Создать подписку</button>
               <button type="button mm" class="btn btn-lg btn-danger mb-4" onclick="window.location.href='/create/post/'">Создать пост</button>
               <a href="/update/channel/{{ object.pk }}" class="btn btn-warning mb-4">Редактировать канал</a>
            </div>
        </div>
     </div>
     <div class="card mb-4 box-shadow color_3" style="width: 440px; display: block; right: 460px; top: 10px; margin: auto; height: 512px;">
        {% for item in contacts_with_unread_messages %}
          <div class="card-body color_dialog" id="auto-resize-card">
              <div style="float: left; margin-right: 20px;">
                {% if item.contact.profile_icon %}
                  <img src="{{ item.contact.profile_icon.url }}" style="width: 75px; height: 75px; border-radius: 40%; object-fit: cover;">
                {% endif %}
              </div>
              <a href="{% url 'dialog' item.contact.id %}">
                {{ item.contact.first_name }} {{ item.contact.last_name }}<br>
                {{ item.last_message.content|slice:":" }}
                {% if item.unread_count > 0 %}
                  <span style="color: red;">({{ item.unread_count }} new)</span>
                {% endif %}
              </a>
          </div>
        {% endfor %}
      </div>
{% else %}
<h3>Создать аккаунт, или войдите</h3>
{% endif %}
{% endblock %}